{% extends "./base.html" %}
{% block title %} Gestion de alimentos {% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-6 col-sm-12 col-lg-4 col-xl-4">
        <h2>Gestion alimentos</h2>
        <div class="card">
            <div class="card-body"> 
                <form action="/registrarIngrediente/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" class="form-control" placeholder="id" minlength="1" maxlength="6" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="nombre" minlength="1" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtcategoria" name="txtcategoria" class="form-control" placeholder="categoria" minlength="1" maxlength="30" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-md-6 col-sm-12 col-lg-8 col-xl-8">
        <div class="table-responsive py-2">
            <h1>Listado de alimentos</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in alimentos %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.nombre}}</td>
                        <td>{{i.categoria}}</td>
                        <td><a href="/edicionAlimento/{{i.id}}" class="btn btn-info">Editar</a></td>
                        <td><a href="/eliminarAlimento/{{i.id}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock %}